.input {
  height: 4rem;
  padding: var(--size-2);
  border: 1px solid var(--color-gray-4);
  border-radius: var(--size-1);
  transition: border 150ms;
}

.input:hover {
  border-color: var(--color-gray-7);
}

.input:focus {
  outline: none;
  border-color: var(--color-primary-4);
}

.input.invalid {
  border-color: var(--color-danger-5);
}
