* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-gray-6);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

a:not(:hover) {
  text-decoration: none;
}
